@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Welcome to the Admin page</h1>
<h2>You are the chosen one to help us improving our servicies</h2>
<h3>Click on the button below to see what we created on 7/10/2022</h3>
<a class="button" asp-controller="AdminStuff" asp-action="Users">Button</a>






<script>





</script>