@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="~/css/AdminStuff_Users.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>



<h1>Welcom to our Users page</h1>
<button></button>
    <div class="container table-responsive py-5">
        <table id="usersTable" class="table table-bordered table-hover">


        </table>
    </div>
    <script>
        let user = [];
        let usersTable = [];
        let table = document.getElementById("usersTable");

        fetch("https://localhost:7015/AdminStuff/GetAllUsers", {
            method: "GET",
            // headers: {
            //     "Content-Type": "application/json"
            // },


        }).then(async data => {
            user = await data.json();

            console.log(user);
          
            const tableHeader = `<thead class="thead-dark">
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th scope="col">Buttons</th>
            </thead>
        <tbody>`;
            table.innerHTML = table.innerHTML + tableHeader;
            user.forEach(element => {
                
                table.innerHTML = table.innerHTML + `<tr>
            <th>${element.id}</th>
            <td>${element.firstName}</td>
            <td>${element.lastName}</td>
            <td>${element.email}</td>
            <td>${element.role}</td>
            <td>
           <button>Modify</button>
            <button>Delete</button>          
            </td>
        </tr>`;


                console.log(element);
            });
            table.innerHTML = table.innerHTML + "</tbody>";

           


            console.log(table);
            console.log("Merge");
           


            return;

        })

            .catch(error => console.log(error))



    </script>
