@model Licenta.ViewModels.UserViewModel;

@{
   
   
    var error = TempData["Error"] as string;
}
<head>
    <link rel="stylesheet" href="~/css/Autentificare.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<div class="login-page">
    <div class="form">
@if (!string.IsNullOrEmpty(error)) {
    
    <h2 class="alert-danger" style="padding:20px;">@error</h2>
}

   <form class="register-form" method="post" asp-controller="Autentificare" asp-action="Register" >
       
            <input asp-for="LastName" type="text" placeholder="name" pattern="^[a-zA-Z]+$" title="The name should contain only letters" required id="nume" value="" />

            <input asp-for="FirstName" type="text" placeholder="prenume" pattern="^[a-zA-Z]+$" title="The name should contain only letters" required id="prenume" value="" asp />
            <input asp-for="Password" type="password" placeholder="password" required id="passReg" value="" />
            <input asp-for="Email" type="text" placeholder="email address" id="emailReg" value="" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+.[a-zA-Z]{2,9}$" required />
            
            <button id="submitRegister" type="submit" >Create Account</button>
            <p class="message">Already registered? <a href="#">Sign In</a></p>
           
        </form>

        <form class="login-form" method="post" asp-controller="Autentificare" asp-action="Login" >          
            <input asp-for="Email" type="text" placeholder="email" pattern="^[a-zA-Z0-9._+-]+@("@")[a-zA-Z0-9.-]+.[a-zA-Z]{2,9}$"  required class="form-control"/>
            <input asp-for="Password" type="password" placeholder="password" required id="passLog"  />
            <button id="submitLogin" type="submit" >login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>  
        </form>
         @if (ViewBag.Message != null)  
    {  
        <script type="text/javascript">  
            window.onload = function () {  
                alert("@ViewBag.Message");  
            };  
        </script>  
    }  

    </div>
</div>

<script>

    $('.message a').click(function () {
        $('form').animate({ height: "toggle", opacity: "toggle" }, "slow");
    });

    </script>

